<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ожидание данных</title>
    <link rel="stylesheet" href="..\static\styles.css">
</head>
<body>
    <div class="loader-container" id="loader-container">
        <div class="loader"></div>
        <p>Ожидаем данные...</p>
    </div>

    <div id="success-container" class="success-container" style="display: none;">
        <div class="success-icon">✔</div>
        <p>Успех!</p>
    </div>

    <script src="..\static\script.js"></script>
</body>
</html>